.wrapper {
  min-height: calc(100% - 68px);
  padding-bottom: 68px;
  box-sizing: border-box;
}
nav {
  margin: 0;
}
ul {
  list-style-type: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  padding:0;
}
li {
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1;
  font-size: 18px;
}
figcaption a {
  color: hsl(100, 25%, 15%);
  background-color: hsl(100, 30%, 85%);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  margin-left: 0;
  font-size: 12px;
}
figcaption a:hover {
  background-color: hsl(122, 14%, 57%);
}
li img {
  width: 40%;
}
li img:hover,
a img:hover {
  transform: scale(1.2);
}
header {
  background-color: hsl(122, 14%, 57%);
  position: sticky;
  top: 0;
}
body {
  background-color:hsl(120, 100%, 99%);
  margin: 0;
  height: 100%;
}
h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: hsl(100, 25%, 15%);
}
h1 img {
  padding-top: 50%;
  padding-bottom: 50%;
  margin: 0;
}
h2 img,
h3 img {
  width: 6%;
  padding-left: 8px;
}
h1, h2, h3 {
  font-family: "quasimoda", sans-serif;
  font-weight: 500;
  font-style: normal;
}
a, p {
  font-family: "quasimoda", sans-serif;
  font-weight: 300;
  font-style: normal;
}
p, h2, h3 {
  color: hsl(100, 25%, 15%);
  margin: 20px;
}
h2 {
  padding-top: 20px;
}
img {
  width: 100%;
  height: auto;
}
footer {
  background-color: hsl(122, 14%, 57%);
  text-align: center;
  line-height: 5%;
  padding-top: 12px;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 12px;;
}
footer p, a {
  color: hsl(100, 30%, 85%);
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
}
footer img{
  width: 5.5%;
}
#myBtn {
  display:none;
  position: fixed;
  bottom: 85px;
  right: 15px;
  z-index: 99;
  border: none;
  background-color: hsl(99, 30%, 85%);
  cursor: pointer;
  padding: 12px;
  border-radius: 25px;
}
#myBtn:hover {
  background-color: hsl(122, 14%, 57%);
}
#myBtn img {
  width: 3.5cqw;
  height: auto;
}

@media (min-width: 700px) {
  main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    font-size: 30px;
  }
  li {
    margin: 0;
    padding: 12px;
    font-size: 28px;
  }
  li a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li img {
    width: 20%;
  }
  h1 {
    padding-top: 35px;
    padding-bottom: 20px;
  }
  h2 {
    padding-top: 40px;
  }
  h1 img {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }
  h2 img,
  h3 img {
    width: 3.5%;
  }
  main p {
    font-size: 18px;
    line-height: 1.5em;
  }
  footer img{
    width: 2.5%;
  }
  .img1 {
    width: 80%;
    padding-left: 50px;
  }
  .img2 {
    width: 90%;
    padding-top: 30px;
  }
  .img3 {
    width: 70%;
  }
   .grid_2-4-2 {
      display: grid;
      grid-template-columns: 2fr 4fr 2fr;
    }
    .grid_2-4-2 img {
      width: 100%;
      height: auto;
      grid-column: 2;
    }
    .grid_1-2-1 {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
    }
    .grid_1-2-1 img {
      width: 100%;
      height: auto;
      padding-top: 40px;
    }
    .grid_2-1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
    .grid_1-2 {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    .grid_1-1 {
      display: grid;
      grid-template-columns:1fr 1fr;
    }
    .grid_2-1 img,
    .grid_1-2 img,
    .grid_1-1 img {
      width: 95%;
      height: auto;
      padding-top: 25px;
      margin-bottom: 15px;
    }
    .wrapper {
      min-height: calc(100% - 95px);
      padding-bottom: 95px;
    }
    #myBtn {
      bottom: 105px;
      right: 25px;
    }
    #myBtn img {
      width: 2.5cqw;
    }
}