nav {
margin: 0;
}
ul {
  list-style-type: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  padding:0;
}
li {
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1;
}

li img {
  width: 40%;
}
li img:hover {
  transform: scale(1.2);
}
 header {
   background-color: hsl(122, 14%, 57%);
   position: sticky;
   top: 0;
 }
 main {
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
 }
 body {
   background-color:hsl(120, 100%, 99%);
   margin: 0;
 }
 h1 {
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
 }
 h1 img {
padding-top: 50%;
padding-bottom: 50%;
margin: 0;
 }
 h2 img {
   width: 6%;
   padding-left: 8px;
 }
p, h1, h2, h2 a {
   color: hsl(100, 25%, 15%);
}
p, h2 {
   margin: 20px;
}
h3:hover {
  background-color: hsl(122, 14%, 57%);
  color: hsl(0, 0%, 95%);
  border-radius: 15px;
}
h3 {
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
margin-top: 61px;
margin-bottom: 61px;
text-align: center;
font-size: 30px;
}
img {
  width: 100%;
  height: auto;
}
footer {
   background-color: hsl(122, 14%, 57%);
   text-align: center;
   line-height: 5%;
   padding-block-start: 15px;
   padding-block-end: 15px;
   bottom: 0;
   margin-top: 20px;
}
footer p, a {
   color: hsl(100, 30%, 85%);
   text-decoration: none;
   margin-right: 30px;
   margin-left: 30px;
}
footer img{
   width: 5.5%;
}

#myBtn {
  display:none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  border: none;
  background-color: hsl(100, 30%, 85%);
  cursor: pointer;
  padding: 12px;
  border-radius: 25px;
  font-size: 18px;
}
#myBtn:hover {
  background-color: hsl(122, 14%, 57%);
}
#myBtn img {
  width: 1.5cqw;
  height: auto;
}

@media (min-width: 700px) {
nav {
  margin: 0;
  }
  ul {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    padding:0;
    font-size: 30px;
  }
  li {
    margin: 0;
    flex: 1;
    padding: 12px;
  }
  li a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li img {
    width: 20%;
  }
  li img:hover {
    transform: scale(1.2);
  }
  h1 {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
  }
h2 img {
   width: 3.5%;
   padding-left: 8px;
 }
 footer img{
   width: 2.5%;
}
h1 img {
  padding: 40px;
}
section {
  display: flex;
  flex-direction: row;
  height: 500px;
  }
  .grid_1-2-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .grid_1-2-1 img {
    width: 100%;
    height: auto;
    grid-column: 2;
  }
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .grid_2-1 img {
    width: 100%;
    height: auto;
  }
}
